<html>
   <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet"
         href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
      <link rel="stylesheet"
         href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
         integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
         crossorigin="anonymous">
      <script
         src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
         crossorigin="anonymous"></script>
      <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
         integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
         crossorigin="anonymous"></script>
      <script
         src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
         integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
         crossorigin="anonymous"></script>
      <style>
         .bg-primary {
         background-color: #3f51b5 !important;
         }
         .table thead th {
         color: black;
         } 
         img.d-inline-block.align-top {
         width: auto;
         }
         table {
         font-size: 0.875rem;
         }
         .container {
         max-width: 95%;
         }
         .card-deck .card {
         min-width: 220px;
         }
         .navbar.bg-primary {
         margin-bottom: 20px;
         }
      </style>
   </head>
   <body class="bg-light">
      <nav class="navbar navbar-dark bg-primary">
         <span class="navbar-brand mb-0 h2">ACL Auditor</span>
      </nav>
      <main role="main" class="container">
         <div class="card-deck mb-3">
            <div class="card mb-3 shadow-sm">
               <div class="card-header">
                  <h5 class="my-0 font-weight-normal">ACL Reference Comparision</h5>
               </div>
               <div class="alert alert-light" role="alert">
                  <p>The results below highlight any flows that have been incorrectly implemented or not implemented according your reference flows.</br>This includes:</p>
                  <ul>
                     <li>flows that your <b>firewall IS permitting or denying</b> ; Audit failure as these <b>flows are NOT in your reference</b> flow definition.</li>
                     <li>flows that your <b>firewall IS NOT permitting or denying</b>; Audit failure as these <b>flows SHOULD BE implemented</b> due to being within your flow definition.</li>
                  </ul>
                  <hr>
                  {{ compare_results }}
                  <b>Note:</b><br>   
                  <ul>
                     <li><b>No Match</b> - Refers to a flow (implemented or reference) that has no matching flow to determine outcome.</il>
                  </ul>
               </div>
            </div>
         </div>
         </div>
         <div class="card-deck mb-3">
            <div class="card mb-3 shadow-sm">
               <div class="card-header">
                  <h5 class="my-0 font-weight-normal">Unreachable ACL Entries</h5>
               </div>
               <div class="alert alert-light" role="alert">
                  <p>The results below highlight any lines in the specified filters that will not match any packet, either because of being shadowed by prior lines or because of its match condition being empty.</p>
                  <hr>
                  {{ unreachable_results }}
               </div>
            </div>
         </div>
      </main>
   </body>
</html>